body {
    background-color: hsl(218, 44%, 22%);
    font-family: 'Times New Roman', serif;
}

.qrcode {
    background-color: aqua;
    padding: 200px;
    display: grid;
    justify-content: center;
}
.attribution {
     font-size: 12px;
      text-align: center;
    
}
.attribution a { color: hsl(228, 45%, 44%); }


.card6 {
margin-bottom: 100px;
background-color: hsl(0, 0%, 100%);
width: 200px;
border: 1px solid #9b9595;
border-radius: 0.5rem;
padding: 0.7rem;
box-shadow: 0px 0px 5px 0px rgba(152, 132, 132, 0.75);
-webkit-box-shadow: 0px 0px 5px 0px rgba(152, 132, 132, 0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(152, 132, 132, 0.75);
}


.card6-header {
    background-image:"images/image-qr-code.png";
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    min-height: 2rem;
}

.cashflow{
    max-width: 100%;
    height: auto;
}

.card6-body {
    padding: 3px 0 3px 0;
    margin:15px 0 5px 0;
    text-align:center;
    font-size: 16px;
    font-weight: 700;
    color:black;
}
.card6-footer {
padding: 10px 7px 5px 7px;
text-align:center;
font-weight: 400;
  color:hsl(220, 15%, 55%);
    } 
